*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box; /* faz com que não aumente o padding e margin dos elementos*/
    
}

header#main-header{
    width: 100%;
    height: 70px;
    background: #1890ff;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    display: flex; 
    justify-content: center;
    align-items: center;
}   

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


.opcoes_inicio{
   left: 4%;
   position: absolute;
   margin-left: auto;
    
}

.opcoes_inicio a{
    color: #FFF;
}

.opcoes_inicio img{
    height: 60px;
    width: auto;
    margin: 0 10px 0 0;
}


.opcoes_fim{
    right: 5%;
    position: absolute;
    margin-right: auto;
    
}

.opcoes_fim a{
    margin: 0 10px 0 0;
    color: #FFF;
}

/* for mobile */
@media only screen and (max-width: 600px) {

    header#main-header{
        width: 100%;
        height: 60px;
        background: #1890ff;
        font-size: 14px;
        font-weight: bold;
        color: #FFF;
        display: flex; 
        justify-content: center;
        align-items: center;
    }   


    .opcoes_inicio img{
        height: 50px;
        width: auto;
        margin: 0 10px 0 0;
    }
    

}